@charset "UTF-8";
/** -----------------------------------
ヘッダー
-------------------------------------**/

/* ヘッダー部分の縦横サイズの指定
   背景色の指定 */
#header {
  height: 80px;
  width: 100% !important;
  margin: 0 auto;
  z-index: 1;
  top: 0px;
  position: fixed;
  background-color: #888a8b;
  align-items: center;
}

/* ヘッダー内の子要素を横並びを指定 */
.hd-wrapper {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
  align-items: center;
}

/* ロゴを入れる箱サイズを指定 */
.header-logo {
  width: 58px;
  height: 45x;
}

/* ロゴのサイズ指定 */
img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

/* 右上文字の高さ設定 */
.subtitle {
  height: 24px;
}

/* 右上文字を太字に設定 */
.subtitle p {
  font-weight: bold;
}

/** -----------------------------------
Body
-------------------------------------**/

/* Body全体の縦横のサイズ
   背景色の指定 */
body {
  width: 100vw;
  height: 100vh;
  background-color: #ebebeb;
}

/** -----------------------------------
Body内＜main＞
-------------------------------------**/

/* mainの箱内は縦並びに指定 */
main {
  display: flex;
  margin-top: 18px;
  flex-direction: column;
}

/* ログインの文字のサイズ
   センター寄せ */
p.large {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* ログイン文字の上部余白指定 */
.login {
  margin-top: 70px;
}

/* 子要素子要素縦に指定 
   子要素を先頭にまとめる
   高さ100%指定 */
#formAction {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 450px;
}

/* メールアドレスとパスワード文字部分の指定*/
.wrapper1 {
  width: 50%;
  height: 22%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
}

/* 文字側部分の指定 */
.lbl1 {
  width: 40%;
  height: 100%;
  text-align: center;
}

/* 入力側部分の指定 */
.lbl2 {
  width: 60%;
  height: 100%;
}

/* 文字中央寄せ、太字指定 */
.sub{
  text-align: center;
  padding-left: 40px;
  font-weight: bold;
}

/* 入力部分の箱サイズ指定 */
input {
  height: 64%;
}

/* 登録ボタンと新規会員登録部分 */
.wrapper2 {
  width: 50%;
  height: 30%;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

/* 登録ボタンサイズ指定、文字指定、中央寄せ */
#register {
  text-align: center;
  font-size: 1.12rem;
  width: 17%;
  height: 40%;
  padding: 10px;
  border: none;
  background-color: rgb(134, 176, 239);
  font-weight: bold;
}

/* 新規会員登録繊維部分 */
.newRegister {
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  display: block;
}